<p>Remplissez ce champ voir les posts disponible (promis ça vous prendra moins d'une minute)</p>

<form action="/check" method="post">
    <input type="text" name="userSearch" value="">
    <input type="submit" name="" value="Rechercher">
</form>
