{% block content %}
<b>Ceci est juste une page de visualisation du job, on pourrait imaginer de postuler sans rechercher avec le input mais suite à cette liste et faire un bouton postuler, vu que la personne se sera identifier pour avoir accès au contenu.</b>

<p>{{job.id}}<p>
<p>{{job.title}}<p>


<a href="/">Cliquez sur ce lien pour faire une autre recherche</a>
{% endblock content %}
